* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #c6d8d3;
}

nav {
  position: relative;
  margin: 2rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
nav .company {
  display: flex;
  align-items: center;
}
nav .company .company_logo {
  width: 36px;
  aspect-ratio: 1/1;
}
nav .company .company_name {
  margin-left: 0.6rem;
  font-size: 1.4rem;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
}
nav .links {
  display: flex;
  align-items: center;
  gap: 1rem;
}
nav .links .link {
  width: 28px;
  height: 28px;
}
nav .links .phone-link {
  width: 26px;
  height: 26px;
  margin: 0 0.1rem;
}

.hero {
  width: min(90%, 800px);
  margin: 4rem auto;
  margin-bottom: 2rem;
}
.hero .hero-cta {
  margin-top: 2rem;
  padding: 0.8rem 0;
  background-color: black;
  color: #c6d8d3;
  text-align: center;
  border-radius: 2rem;
}

.highlight {
  width: min(90%, 800px);
  margin: 4rem auto;
}

.title {
  background-color: black;
  color: #c6d8d3;
  text-align: center;
  padding: 1rem 0;
  font-size: 0.8rem;
}

.solution-wrap {
  margin: 4rem 0;
  gap: 3rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
}

.solution {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.solution p {
  font-size: 0.9rem;
}

.hero-content {
  font-size: 0.8rem;
}

.solution-title {
  font-size: 1.2rem;
  font-weight: 500;
}

.icon {
  height: 48px;
  aspect-ratio: 1/1;
}

.solution-content {
  margin-top: 1rem;
  font-size: 0.9rem;
}

footer {
  text-align: center;
  padding: 1rem 0;
  background-color: #000;
  color: #c6d8d3;
  font-size: 0.6rem;
}

.profile_pic {
  width: 196px;
}

.profile {
  width: min(90%, 800px);
  margin: auto;
  margin-bottom: 8rem;
}

.profile_part {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  gap: 2rem;
}

.profile_title {
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
}

.profile_tag {
  text-align: center;
  font-size: 0.8rem;
}

.profile_intro {
  margin-bottom: 0.4rem;
}

.profile_content {
  width: 85%;
  margin: auto;
  font-size: 0.9rem;
  text-align: justify;
}

@media screen and (min-width: 548px) {
  body {
    margin: 2rem 0 0 0;
  }
  nav {
    padding: 0.2rem 4rem;
  }
  nav .company .company_logo {
    width: 42px;
    aspect-ratio: 1/1;
  }
  nav .company .company_name {
    margin-left: 0.6rem;
  }
  nav .links {
    display: flex;
    align-items: center;
    gap: 1.8rem;
  }
  nav .links .link {
    width: 36px;
    height: 36px;
  }
  nav .links .phone-link {
    width: 34px;
    height: 34px;
    margin: 0 0.1rem;
  }
  .hero {
    text-align: center;
    margin: 10rem auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1.1rem;
  }
  .hero .hero-cta {
    margin-top: 2rem;
    padding: 1rem 0;
    background-color: black;
    color: #c6d8d3;
    text-align: center;
    width: 60%;
    font-size: 1.2rem;
    font-weight: 500;
  }
  .title {
    font-size: 1.2rem;
  }
  .solution-wrap {
    margin-top: 5rem;
    margin-bottom: 8rem;
  }
  .solution-title {
    font-size: 1.4rem;
  }
  .icon {
    height: 64px;
    aspect-ratio: 1/1;
  }
  .solution-content {
    margin-top: 1rem;
    font-size: 1rem;
  }
  .profile_part {
    flex-direction: row;
    margin-top: 4rem;
  }
  .profile_title {
    text-align: left;
  }
  .profile_tag {
    text-align: left;
  }
  .profile_content {
    text-align: left;
    width: 100%;
  }
  .hero-content {
    font-size: 1rem;
  }
}/*# sourceMappingURL=style.css.map */